*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


lib/
target/classes/controllers/
target/classes/dao/
target/classes/model/
target/classes/persistence/
target/classes/test/
target/generated-sources/
target/trainMe/WEB-INF/classes/controllers/
target/trainMe/WEB-INF/classes/dao/
target/trainMe/WEB-INF/classes/model/
target/trainMe/WEB-INF/classes/persistence/
target/trainMe/WEB-INF/classes/test/
target/trainMe/WEB-INF/lib/
