<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--TODO: add servlet 3.0 support-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>ShutdownHookListener</listener-class>
  </listener>
</web-app>
